body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.person {

  background: #b2b2b2;
  font-size: 1.5rem;
  width: 25rem;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 0.3rem;
  text-align: center;
  transition: all .5s linear;


}

.person:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .3)
}

.person img {
  border-radius: 50%;
  border: 2px solid white;

}

.person h2 {
  text-transform: capitalize;
  margin: .5rem 0;
  letter-spacing: 0.15rem;
  color: teal;
  font-weight: 400;
}

.person h1 {
  text-transform: capitalize;
  margin: .5rem 0;
  letter-spacing: 0.15rem;
  color: white;
  font-weight: 300;


}

.personlist p{
  color: rgb(110, 75, 0);
  font-weight: 300;
}

@media screen and (min-width:768px) {
  .personlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }


}

@media screen and (min-width:992px) {
  .personlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }


}